@tailwind base;
@tailwind components;
@tailwind utilities;
@import './glass.css';

@layer base {
  html {
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
  body {
    @apply bg-gradient-to-br from-indigo-900 via-purple-800 to-pink-700 text-gray-100;
    background-size: 200% 200%;
    animation: gradient-shift 20s ease infinite;
    min-height: 100vh;
    will-change: background-position;
    overflow-y: scroll;
  }

  @keyframes gradient-shift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
